body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

header, section, footer {
    margin: 20px;
    padding: 20px;
    border: 6px solid silver;
    border-radius: 10px;
    background-image: url("https://media.istockphoto.com/id/1185747322/photo/blue-mesh-gradient-blurred-motion-abstract-background.jpg?b=1&s=612x612&w=0&k=20&c=EU2Le9ohrdXYHEVfYAmiHAhYPk7eyRj5XTnJwctd7tA=");  
    background-size: cover;
    box-shadow: 5px 5px blanchedalmond;
    
}
header, footer {
    margin: 20px;
    padding: 20px;
    border: 5px solid rgb(101, 103, 106);
    border-radius: 10px;
    background-color:cornflowerblue;
    box-shadow:5px 5px bisque;
}


img {
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;
}
